@{ ViewBag.Title = "Console"; }

@section HeadContent
{
    <script type="text/javascript">
        var LastTimestamp = "";

        $(document).ready(function()
        {
            $.ajaxSetup({ cache: false });

            Refresh();
        });

        function StartServer()
        {
            $.get('@Url.Action("Start", "Server")')
                .fail(function(jqXHR, textStatus, errorThrown)
                {
                    alert(textStatus + ": " + errorThrown + "\r\n" + jqXHR.responseText);
                });
        }

        function Refresh()
        {
            $.getJSON('@Url.Action("GetOutput", "Server")?since=' + LastTimestamp)
                .done(function(obj)
                {
                    LastTimestamp = obj.LastTimestamp;
                    if (obj.Output != "")
                    {
                        ServerOutput.innerHTML += obj.Output;
                        ScrollToBottom();
                    }
                })
                .always(function()
                {
                    setTimeout('Refresh()', 2000);
                });
        }

        function SendCommand(command)
        {
            if (command == undefined) command = $("#CommandField").val();
            if (command == "") return;

            $.get('@Url.Action("SendCommand", "Server")?command=' + command)
                .done(function()
                {
                    setTimeout('Refresh()', 200)
                });

            $("#CommandField").val("");
        }

        function ScrollToBottom()
        {
            $("#ServerOutput").animate({ scrollTop: $("#ServerOutput")[0].scrollHeight }, 1000);
        }

        function CommandKeyDown(e)
        {
            if (e.key == "Enter" || e.keyIdentifier == "Enter")
                SendCommand();
        }
    </script>
}

<h2>Server Console</h2>

<!-- yes ... a table ... don't judge me, I don't do front-end :D -->
<table style="width: 100%; height: calc(100% - 204px);">
    <tr>
        <td>
            <button type="button" onclick="StartServer()">Start Server</button>
            <button type="button" onclick="SendCommand('stop')">Stop Server</button>
            @Html.ActionLink("Change Properties", "Properties")
            <a href="http://minecraft.gamepedia.com/Commands#Summary_of_commands" target="_blank"
               style="float:right; margin:8px 2px 0px 0px;">Wiki Page</a>
        </td>
    </tr>
    <tr>
        <td>
            <input id="CommandField" type="text" style="width: 88%" onkeydown="CommandKeyDown(event)" />
            <input type="button" value="Send" onclick="SendCommand()"
                   style="width: calc(12% - 12px); float: right" />
        </td>
    </tr>
    <tr>
        <td style="height: 100%;">
            <div id="ServerOutput" style="overflow: auto; background-color: #DDDDDD; height: 100%" />
        </td>
    </tr>
</table>

