@{ ViewBag.Title = "Server Map"; }

@section HeadContent
{
    @if (Roles.IsUserInRole("Moderator"))
    {
        <script type="text/javascript">
            $(document).ready(function()
            {
                $.ajaxSetup({ cache: false });

                RefreshProgress();
            });

            function StartMapper()
            {
                $.get('@Url.Action("StartMapper", new { world = ViewBag.SelWorld })')
                    .done(function()
                    {
                        setTimeout("RefreshProgress()", 200);
                    })
                    .fail(function(jqXHR, textStatus, errorThrown)
                    {
                        alert(textStatus + ": " + errorThrown + "\r\n" + jqXHR.responseText);
                    });

                $("#MapperProgress").text("starting...");
                $("#UpdateBtn").hide();
            }

            function RefreshProgress()
            {
                $.get('@Url.Action("MapperProgress")')
                    .done(function(result)
                    {
                        if (result == "")
                            $("#MapperProgress").text("");
                        else
                            $("#MapperProgress").text("(Updating: " + result + ")");

                        if (result == "Completed" || result == "")
                        {
                            $("#UpdateBtn").show();
                        }
                        else
                        {
                            $("#UpdateBtn").hide();

                            setTimeout("RefreshProgress()", 4000);
                        }
                    });
            }
        </script>
    }
}

<h2 style="display: inline-block; margin-right: 16px;">Server Map</h2>

@if (Roles.IsUserInRole("Moderator"))
{
    <button id="UpdateBtn" style="display: none" onclick="StartMapper()">Update</button>
    <span id="MapperProgress" style="font-style: italic"></span>
}
<form style="margin-top:-8px; margin-bottom:8px;">
    Worlds:
    @{ var worlds = ViewBag.Worlds as List<string>; }
    @Html.DropDownList("world", worlds.Select(w =>
        new SelectListItem()
        {
            Text = w,
            Value = w,
            Selected = w == ViewBag.SelWorld
        }))
    <input type="submit" value="Switch" />
</form>
<iframe src='/mcmap/@ViewBag.SelWorld' style="width: 100%; height: calc(100% - 160px);" />